/* .buttons {
  color: #475569;
  border: 1px solid #475569;
  background-color: transparent;
  padding: 1px;
  width: 2vh;
  height: 2vh;
}

.number {
  color: #475569;
  font-size: 10px;
  margin: 7px;
  margin-top: 0px;
}

.bg-container {
  display: flex;
  flex-direction: row;
} */
